@model webson.Models.Slider

@{
    ViewBag.Title = "Slider Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Slider Düzenle</h2>

@using (Html.BeginForm("Edit", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Slider</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SliderId)

    <div class="form-group">
        Slider Başlık
        <div class="col-md-10">
            @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Slider Açıklama
        <div class="col-md-10">
            @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Eski Resim
        <br />
        <div class="col-md-10">
            <img src="@Model.ResimURL" width="1024" height="360" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        Yeni Resim
        <div class="col-md-10">
            <input type="file" class="form-control" id="ResimURL" name="ResimURL" accept=".png,.jpg,.jpeg">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 mt-3">
            <input type="submit" value="Güncelle" class="btn btn-warning" />
        </div>
    </div>
</div>
}

<div class="mt-3">
    @Html.ActionLink("Geri Dön", "Index")
</div>
