@model IEnumerable<webson.Models.Slider>

@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Slider</h2>

<p>
    <a href="/Slider/Create" class="btn btn-success">Ekle</a>
</p>
<table class="table">
    <tr>
        <th>
            Slider Başlık
        </th>
        <th>
           Slider Açıklama
        </th>
        <th>
            Slider Resim
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
           <img src="@item.ResimURL" width="256" height="90" />
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.SliderId }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.SliderId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.SliderId })
        </td>
    </tr>
}

</table>
